.btn{
  padding: 5px 10px;
  border-radius: 5px;
  height: 2em;
  background-color: $btn-default;
  color: #fff;
  display: inline-block;
  margin: 5px;
  text-align: center;
  cursor: pointer;

  &:hover{
    background-color: $btn-default-hover;
    color: #fff;
  }

  & a{
    text-decoration: none;
    color: #fff;
  }

  &[disabled]{
    color:  #999999;
    cursor: default;
  }

  &[disabled]:hover{
    background-color: $btn-default;
  }

  &-highlighted-orange,
  &-highlighted-orange:hover{
    color: $hightlight-color;
  }

  &-highlighted-red,
  &-highlighted-red:hover{
    color: $btn-red
  }

  &-red{
    background-color: $btn-red;
  }

  &-red:hover{
    background-color: $btn-red-hover;
  }
}

.btn-flat{
  cursor: pointer;
  margin-left: 5px;

}