$header-primary:#fff;
$header-secondary:#b9bbbe;
$text-normal:#dcddde;
$text-muted:#c1c1c0;
$text-link:#00b0f4;
$border-nav:#222429;
$background-nav: #2d3035;
$background-nav-dark: #25282c;
$background-player:#202225;
$background-secondary:#2f3136;
$background-secondary-hover:#292b2f;
$background-form:#45474d;
$background-scrollbar: #222427;
$hightlight-color-dark: rgb(224, 127, 0);
$hightlight-color: #FE9000;
$hightlight-color-secondary: rgb(255, 168, 53);
$hightlight-color-green: rgb(66, 146, 0);
$hightlight-color-green-secondary: rgb(84, 187, 0);
$user-green: #090;

$background-primary:#474a51;

$background-tile: #474a51;
$background-tile-hover: #56585f;

$btn-default: #42454d;
$btn-default-hover: #464a52;
$btn-red: #9c0000;
$btn-red-hover: #b60505;
$btn-green: #1bb76e;
$btn-green-hover: #1bb76e;



$dark-1: #1e2124;
$dark-2: #2e3136;
$dark-3: #36393e;
$dark-4: #424549;
$dark-5: #4a4c51;