<%= render "form.html", changeset: @changeset,
                        label: dgettext("coherence", "Register"), required: [required: ""],
                        action: Routes.registration_path(@conn, :create),
                        title: "Register Account" %>
