<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bread</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    
  </head>
  <body>

    <div class="application-wrap">
      <%= render "header.html", assigns %>

      <div class="content">
        <%= render @view_module, @view_template, assigns %>
      </div>

      <%= render "footer.html", assigns %>
    </div>


      <%= if assigns[:current_user] do %>
      <script>
      window.userToken = "<%= assigns[:user_token] %>";
      window.userID = <%= @current_user.id %>;
      </script>
      <% end %>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
