
<div class="footer">
<a href="https://discord.gg/ebD6bYh" class="link-muted" target="_blank">Discord</a>
<a href="/terms" class="link-muted">Terms</a>
<a href="/privacy" class="link-muted">Privacy</a>

</div>