.faq{
  &__list{
    height: fit-content;
    margin-left:20px;
    padding: 15px;
  }

  &__item{
    padding: 8px;

    &--header{
      transition-delay: 10s;
      color: $hightlight-color;
      cursor: pointer;
      span[title="plus"]{
          padding :10px;
      }
    }

    &--content{
      padding-top: 10px;
      padding-left : 20px;
      display:none;
    }
  }

}