.nav{
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 48px;
  background-color: $dark-3;
  border-bottom: 1px solid $border-nav;
  padding: 0 5px;
  font-weight: 500;


  &--mobile{
    display: none;
  }

  &__left{
  }

  &__right{
    flex-grow: 1;
    padding-right: 10px;
  }



  ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li{
  }

  &__item{
    cursor: pointer;
    margin-right: 10px;
  }

  &__item a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $btn-default;
    color: #fff;
  }

  &__item a:hover{
    background-color: $background-tile-hover;
  }

  &__item-green a{
    background-color: $btn-green;
  }

  &__item-green a:hover{
    background-color: $btn-green-hover;
  }

  &__dropdown{
    padding: 5px 10px;
    height: 2em;
  
    &:hover{
      background-color: $btn-default-hover;
      color: #fff;
    }
  
    & a{
      text-decoration: none;
      color: #fff;
    }
  }

  &__logo{
    color: white;
    // background-color: rgb(218, 178, 3);
    border-radius: 5px;
    padding: 5px;
    background-image: -webkit-gradient(linear,right bottom,left top,from(#ff8a00),to(#e52e71))!important;
    background-image: linear-gradient(to top left,#ff8a00,#e52e71)!important;
    font-weight: bold;
  }
}

.dropdown{

  &__item{
    padding: 5px 10px;
    height: 2em;
    display: flex;
    justify-content: space-inbetween;
  
    &:hover{
      background-color: $btn-default-hover;
      color: #fff;
    }
  
    & a{
      text-decoration: none;
      color: #fff;
    }
  }

  &__label{
    margin-right: 10px;
  }

}


@media screen and (max-width: 450px) {
  .nav{
    &--mobile{
      display: block;
    }

    &--desktop{
      display: none;
    }
  }
}