

#root{
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
}

.room{
  display: flex;
  flex-grow: 1;
  // overflow: hidden;
  scrollbar-width: none;
  height: 100%;
}

.video{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;

  &__player{
    background-color: $background-player;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    iframe{
      width:100%;
      // height:100%;
      flex: 1 1 auto;
      min-height: 0px;
    }


    video{
      // height: 100%;
      // max-width: 100%;
      // margin: 0 auto;
      height: 0px;
      flex: 1 1 auto;
    }

  }

  &__disabled-interfaces{
    display: none;
  }

  &__under{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
  }

  &__queue{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    padding: 5px;
    height: 200px;
    // scroll-behavior: smooth;
  }

  &__queue-toggle{
    width: 100%;
    text-align: center;
  }

  &__controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: $background-player;
    border-radius: 10px;
    margin: 10px;
  }
}

.controller{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
  // background-color: $background-player;
  // border: 1px solid black;
  // padding: 5px;

  &__wrapper{
    width: 100%;
    // max-width: 400px;
  }

  &__progress{
    width: 95%;
    height: 5px;
    border-radius: 3px;
    background-color: rgb(78, 77, 77);
    margin: 3px 0 5px 0;
    overflow: hidden;
    cursor: pointer;
  }

  &__progress:hover{
    height: 7px;
    margin-top: 1px;
  }


  &__progress-bar{
    height: 100%;
    border-radius: 3px;
    width: 0px;
    background-color: $hightlight-color;
  }

  &__status{
    line-height: 40px;
    padding: 0px 10px;
  }

  &__buttons{
    width: 95%;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
  }

  &__remote{
    font-weight: 400;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    fill: #fff;
    padding: 5px;
    background-color: $btn-default;
    border: none;
    outline: none!important;
    margin: 0px 3px;
   }


   &__remote--has{
    background-color: $hightlight-color;
   }

   &__remote:hover{
    background-color: $btn-default-hover;
   }

   &__remote--has:hover{
    background-color: $hightlight-color;
   }

   &__remote[disabled]{
    fill: #999999;
    background-color: $btn-default;
  }

}

.tile{
  width: 200px;
  height: 170px;
  border-radius: 4px;
  margin: 3px 7px;
  background-color: $background-tile;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  transition: box-shadow .25s;
  -webkit-transition: box-shadow .25s;
  flex: 0 0 auto;

  &:hover{
    background-color: $background-tile-hover;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
  }

  &__image{
    width: 100%;
    height: 112px;
    overflow: hidden;
  }

  &__img_placeholder{

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,right bottom,left top,from(#ff8a00),to(#e52e71))!important;
    background-image: linear-gradient(to top left,#ff8a00,#e52e71)!important;
    font-size: 24px;
    font-weight: 400;

    div{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__image img{
    width: 100%;
  }

  &__title-wrap{
    margin-top: 10px;
  }

  &__title{
    padding: 0px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.15;
    font-size: 14px;
  }

  &__info{
    font-size: 14px;
    padding: 7px 10px 0px 10px;
    color: hsla(0,0%,100%,.6) !important;
    display: flex;
  }

  &__site-name{
    flex: 1 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0px;
  }

  &__options{
    display: none;
    flex: 0 1 auto;

    a{
      color: hsla(0,0%,100%,.6) !important;
    }
  }

  &:hover &__options{
    display: flex;
  }

  &--client_playing{
    border-bottom: 3px solid $hightlight-color-green;
  }
  
  &--server_playing{
    border-bottom: 3px solid $hightlight-color;
  }

}

.queue-spacer{
  display: block;
  width: calc(50% - 107px);
  flex: 0 0 auto;
}

.users{
  flex: 0 0 240px;
  background-color: $background-secondary;
}



@media screen and (max-width: 1000px) {
  .room{
    flex-direction: column;
  }

  .video{
    position: sticky;
  }
  .users{
    width: 100%;
  }

  #root{
    height: auto;
    overflow: visible;
  }
  
  .room{
    height: auto;
  }

  .video__player{
    display: block;
    padding-top: 56.25%;
    position: relative;

    iframe, video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}