

#root{
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
}

.room{
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  scrollbar-width: none;
  height: 100%;
}

.video{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  scrollbar-width: 10px;
  overflow: auto;

  &__player{
    // padding-top: 56.25%;
    // position: relative;
    background-color: $background-player;
    flex: 1 1 auto;

    iframe{
      // position:absolute;
      // top:0;
      // left:0;
      width:100%;
      height:100%;
    }

  }

  &__disabled-interfaces{
    display: none;
  }

  &__under{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
  }

  &__queue{
    display: flex;
    // justify-content: center;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    padding: 5px;
    height: 210px;
  }

  &__controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: $background-player;
    border-radius: 10px;
    margin: 10px;
  }
}

.controller{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px 10px 5px 10px;
  background-color: $background-player;
  border: 1px solid black;
  padding: 5px;

  &__wrapper{
    width: 100%;
    max-width: 400px;
  }

  &__progress{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(78, 77, 77);
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;

  }

  &__progress-bar{
    height: 10px;
    border-radius: 5px;
    width: 0px;
    background-color: $hightlight-color;
  }

  &__remote{
    font-weight: 400;
  }


}

.asfdtile{
  width: 175px;
  height: 150px;
  overflow: hidden;
  border-radius: 3px;
  margin: 5px;
  background-color: $background-secondary-hover;
  word-wrap: break-word;
  flex: 0 0 auto;
  padding: 5px;

  &:hover{
    background-color: $background-form;
  }

  &__image-container{
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    overflow: hide;
  }

  &__image{
    width: 100%;
    margin-bottom: 3px;
  }

  &__title{
    padding: 5px;
    font-size: 12px;
  }
  &__subtitle{
    height: 10px;
    font-size: 11px;
    padding: 5px;
  }

  &--client_playing{
    background-color: $hightlight-color-green;
  }
  
  &--server_playing{
    background-color: $hightlight-color;
  }

  &--client_playing:hover{
    background-color: $hightlight-color-green-secondary;
  }
  
  &--server_playing:hover{
    background-color: $hightlight-color-secondary;
  }
}

.tile{
  width: 200px;
  height: 170px;
  border-radius: 4px;
  margin: 7px;
  background-color: $background-tile;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  transition: box-shadow .25s;
  -webkit-transition: box-shadow .25s;
  flex: 0 0 auto;

  &:hover{
    background-color: $background-tile-hover;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
  }

  &__image{
    width: 100%;
    height: 112px;
    overflow: hidden;
  }

  &__image img{
    width: 100%;
  }

  &__title-wrap{
    margin-top: 10px;
  }

  &__title{
    padding: 0px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.15;
    font-size: 14px;
  }

  &__info{
    font-size: 14px;
    padding: 7px 10px 0px 10px;
    color: hsla(0,0%,100%,.6);
    display: flex;
    justify-content: space-between;
  }

  &--client_playing{
    border-bottom: 3px solid $hightlight-color-green;
  }
  
  &--server_playing{
    border-bottom: 3px solid $hightlight-color;
  }

}

.users{
  flex: 0 0 240px;
  background-color: $background-secondary;
}



@media screen and (max-width: 1000px) {
  .room{
    flex-direction: column;
  }

  .video{
    position: sticky;
  }

  .chat{
    width: 100%;
  }
  .users{
    width: 100%;
  }

  .application-wrap, body, html{
    height: auto;
  }

  .video__player{
    padding-top: 56.25%;
    position: relative;

    iframe{
      position:absolute;
      top:0;
      left:0;
    }
  }
}