
.user_item{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  width: 100%;
  padding: 5px;

  &__avatar{
    margin-right: 10px;
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  &__name{
    flex-grow: 1;
    color: $user-green;
    font-weight: 400;
    cursor: pointer;
  }
}

.users{
  display: flex;
  flex-direction: column;

  &__count{
    padding: 5px;
    color: $text-muted;
    text-align: center;
  }

  &__list{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}