
.user_item{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  padding: 5px;
  margin: 2px 7px;
  border-radius: 10px;
  flex: 0 0 auto;

  &:hover{
    background-color: $dark-2-1;
  }

  &__avatar{
    margin-right: 10px;
    img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }

  &__name{
    flex-grow: 1;
    color: $user-green;
    font-weight: 400;
    cursor: pointer;
    text-overflow: ellipsis;
  }

  &--has_remote{
    img{
      border: 2px solid $hightlight-color;
    }
  }
}

.users{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden; 

  &__count{
    padding: 5px;
    color: $text-muted;
    text-align: center;
  }

  &__list{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}